.fa.fa-user-circle-o {
  font-size: 20px;
}

#main-banner {
  text-align: left;
  padding: 9%;
  background: url(../../assets/img/bgimage.jpg) no-repeat;
  background-size: cover;
}

#main-banner .jumbotron {
  border-radius: 20px;
  background-color: rgba(255,255,255,.75);
}

body {
  /*margin: 0;*/
  font-family: Arial,Helvetica,sans-serif;
  /*font-size: 1rem;*/
  /*font-weight: 400;*/
  /*line-height: 1.5;*/
  /*color: #212529;*/
  /*text-align: left;*/
  /*background-color: #fff;*/
}

